<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>name</key>
			<string>段子访</string>
			<key>passtime</key>
			<string>2016-05-17 06:56:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/03/16/56e8fa734a0d4_mini.jpg</string>
			<key>text</key>
			<string>一点人生的经验：向别人要零食时，</string>
		</dict>
		<dict>
			<key>name</key>
			<string>嘿嘿</string>
			<key>passtime</key>
			<string>2016-05-17 06:56:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/04/30/5723fd103454b_mini.jpg</string>
			<key>text</key>
			<string>别人都用动物比喻女友的各种优点，我也给老婆编了一段：“麒麟臂，大象腿；狗熊腰，老虎背；纹的眉，漂的嘴；染的指甲，爱臭美。” 晚上念给老婆听。然后我就…</string>
		</dict>
		<dict>
			<key>name</key>
			<string>豆子请来的猴比</string>
			<key>passtime</key>
			<string>2016-05-17 00:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2015/10/28/5630289605d1f_mini.jpg</string>
			<key>text</key>
			<string>今天父母给我打电话说：“你表弟今天回家了，带的女朋友可漂亮了。你过两天要是不带个女朋友回家，我和你爸的脸都没地儿搁了。”没办法，我只好从网上租了个女友。今天带回家后，我爸妈一看脸都绿了：“这不是你表弟那女朋友吗？” 真是不怕神一样的对手，就怕租一样的女友！</string>
		</dict>
		<dict>
			<key>name</key>
			<string>江南侠客</string>
			<key>passtime</key>
			<string>2016-05-16 22:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/04/22/5719c4d19fd4c_mini.jpg</string>
			<key>text</key>
			<string>晚上在外面溜达，很多情侣都抱着照相，我只能擦了擦汗，默默的安慰自己，这天抱着太热了，我是为了凉快才一个人的。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>各类外烟国烟加送福Li</string>
			<key>passtime</key>
			<string>2016-05-16 20:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/03/12/56e43bba690df_mini.jpg</string>
			<key>text</key>
			<string>第一次做饭，误把醋当酱油放进去了，机智如我，去百度查了下可以加点糖补救一下。过了一会儿，我只好又去问度娘，把盐当白糖加了该怎么办……</string>
		</dict>
		<dict>
			<key>name</key>
			<string>一楼是狗你信不信</string>
			<key>passtime</key>
			<string>2016-05-16 17:56:02</string>
			<key>profile_image</key>
			<string>http://qzapp.qlogo.cn/qzapp/100336987/86624CC9F665CB84506E430C06B0A8B6/100</string>
			<key>text</key>
			<string>大学组织去献血。本来体弱，抽到200cc的时候突然晕了过去，吓得护士忙活半天倒输了400cc血回来才算完事。最后给我发献血证的时候都感觉护士姐姐眼神怨念很深。后来江湖上就有了传言说有个屌丝为了补血去献血站装晕。。。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>愿得一人心BYH</string>
			<key>passtime</key>
			<string>2016-05-16 15:56:01</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/03/07/56dc5cf1ac099_mini.jpg</string>
			<key>text</key>
			<string>今天班里来了个转学生，老师让他自我介绍。他说&quot;我家在内蒙古，家里很穷，我爸爸卖了两头牛卖了2万才上的学。。。&quot;突然好同情他。老师问你家有几头牛啊。他很伤感的说&quot;我家里还有400多头牛&quot;。。。。。</string>
		</dict>
		<dict>
			<key>name</key>
			<string>流年里的余温</string>
			<key>passtime</key>
			<string>2016-05-16 13:56:02</string>
			<key>profile_image</key>
			<string>http://wimg.spriteapp.cn/profile/large/2016/02/21/56c9de46acc3c_mini.jpg</string>
			<key>text</key>
			<string>酒吧里，男子正在跟朋友诉苦。 男子埋怨道：“前阵子只是和MM握了个手，她居然怀孕了！” 朋友大惊：“没搞错吧？握手也能怀孕？”男子纠结的说道：“哎，我不喜欢洗手，没想到她也是。”</string>
		</dict>
	</array>
</dict>
</plist>
